.LockupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .LockupContainer .mainTitle {
    letter-spacing: 10pt; }
  .LockupContainer > * {
    transform: translateY(-50px); }

.innerLinks {
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%); }
  .innerLinks.left {
    left: 20px; }

.xContainer {
  width: 110px;
  height: 110px;
  margin: 0 50px;
  position: relative; }
  .xContainer .line {
    width: 150px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #fff; }
    .xContainer .line.a, .xContainer .line.c {
      transform: translate(-50%, -50%) rotate(45deg); }
    .xContainer .line.b, .xContainer .line.d {
      transform: translate(-50%, -50%) rotate(135deg); }
    .xContainer .line.c, .xContainer .line.d {
      background-color: #383838;
      width: 200vh; }
  .xContainer .year {
    font-size: 26px;
    line-height: 1;
    position: absolute;
    transform: translateY(-50%); }
    .xContainer .year.a {
      left: 50%;
      top: 0;
      transform: translateX(-50%); }
    .xContainer .year.b {
      left: 0;
      top: 50%; }
    .xContainer .year.c {
      right: 0;
      top: 50%; }
    .xContainer .year.d {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 25%); }
  .xContainer .desciption {
    letter-spacing: 10pt;
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translate(-50%, 0); }
