// styles

// main container
.LockupContainer {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;

	.mainTitle {
		letter-spacing: 10pt;
	}

	> * {
		transform: translateY(-50px);
	}
}

// inner links
.innerLinks {
	font-size: 14px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	&.left {
		left: 20px;
	}
}

// lines container
.xContainer {
	width: 110px;
	height: 110px;
	margin: 0 50px;
	position: relative;
	// line
	.line {
		width: 150px;
	    height: 1px;
	    position: absolute;
	    left: 50%;
	    top: 50%;
		background-color: #fff;
	    &.a, &.c {
			transform: translate(-50%, -50%) rotate(45deg);
	    }
	    &.b, &.d {
			transform: translate(-50%, -50%) rotate(135deg);
	    }
	    &.c, &.d {
	    	background-color: #383838;
	    	width: 200vh;
	    }
	}
	// year
	.year {
		font-size: 26px;
		line-height: 1;
		position: absolute;
		transform: translateY(-50%);
		&.a {
			left: 50%;
		    top: 0;
		    transform: translateX(-50%);
		}
		&.b {
			left: 0;
		    top: 50%;
		}
		&.c {
			right: 0;
		    top: 50%;
		}
		&.d {
			left: 50%;
		    bottom: 0;
		    transform: translate(-50%, 25%);
		}
	}
	// description text
	.desciption {
		letter-spacing: 10pt;
		
	    position: absolute;
	    left: 50%;
	    bottom: -100px;
	    transform: translate(-50%, 0);
	}
}