/*vars*/
$white: #fff;

/*main*/
html {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'courier', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: $white;
}

/*fonts defenition*/
@font-face {
    font-family: 'courier';
    src: url('./assets/fonts/cour-webfont.woff2') format('woff2'),
         url('./assets/fonts/cour-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Typography*/
h1 {
	letter-spacing: 10pt;
	font-size: 50px;
}
h4 {
	font-size: 24px;
}

/* Root */
.rootElement {
	background-image: url('./assets/backgrounds/main_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	height: 100%;
	width: 100%;
}